doctype html
html(lang='en')
  head
    title InCall Visualisation
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/phone.css', type='text/css')
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/velocity.min.js')
    script(src='/javascripts/velocity.ui.js')
    script(src='/javascripts/animate.js')
  body  
    .container
      .row(style='height:10px') 
      .row(style='height:100px')
        img(src='/images/logo_ericsson.svg', align='right', height='80', width='80')
      .row
        #usera_area.col-xs-2.nopadding
          .row(style='height:80px')
          .row
            svg#usera_svg(width='100%', height='200', viewbox='0 0 100 50', preserveaspectratio='xMidYMid slice', xmlns='http://www.w3.org/2000/svg')
              image#user1(x='0', y='0', width='100', height='50', opacity="0", xlink:href='/images/user1.png')
          #pma_frame_gap.row(style='height:94px')
          .row
            iframe#frame_pma(x='0', y='0', width='0', height='0', opacity='0', allowtransparency='true', src='https://tabin1.punosmobile.com/pma-cloud/#/54ca07f1e4b0cfe4ab5ce253', marginwidth='30')
        #cloud_area.col-xs-8.nopadding
          .row(style='height:30px')
          .row.nopadding
            svg#cloud_svg(width='100%', height='600', viewbox='0 0 400 100', preserveaspectratio='xMaxYMax meet', xmlns='http://www.w3.org/2000/svg')
              image#ekahau_back(x='0', y='-200', width='100%', height='100%', opacity='1', xlink:href='/images/ekahau_back.svg')
              g#telco_group(transform='translate(10,-87) scale(1,1)')
                circle#circle_a(cx='130', cy='-40', r='0', fill='#00285F', stroke-width='0')
                circle#circle_b(cx='180', cy='-70', r='0', fill='#00285F', stroke-width='0')
                circle#circle_c(cx='180', cy='-35', r='0', fill='#00285F', stroke-width='0')
                circle#circle_d(cx='240', cy='-60', r='0', fill='#00285F', stroke-width='0')
                circle#circle_e(cx='255', cy='-30', r='0', fill='#00285F', stroke-width='0')
                circle#circle_f(cx='230', cy='-30', r='0', fill='#00285F', stroke-width='0')
              g#it_group(transform='translate(-10,-45) scale(1,1)')
                circle#circle_g(cx='270', cy='40', r='0', fill='#5fbadd', stroke-width='0')
                circle#circle_h(cx='220', cy='70', r='0', fill='#5fbadd', stroke-width='0')           
                circle#circle_i(cx='220', cy='35', r='0', fill='#5fbadd', stroke-width='0')
                circle#circle_j(cx='160', cy='60', r='0', fill='#5fbadd', stroke-width='0')
                circle#circle_k(cx='145', cy='30', r='0', fill='#5fbadd', stroke-width='0')
                circle#circle_l(cx='170', cy='30', r='0', fill='#5fbadd', stroke-width='0')
              line#connecting_line(x1='-56', y1='-130', x2='-56', y2='-130', opacity='1', stroke='#00285F', stroke-width='8', stroke-linecap='round', stroke-dasharray='30, 25')
              line#connect_line(x1='0', y1='-130', x2='0', y2='-130', opacity='1', stroke='#00285F', stroke-width='8')
              text#telco_text(x='160', y='-120', fill='#fff', font-size='25', opacity='0') TELCO
              text#it_text(x='180', y='20', fill='#fff', font-size='40', opacity='0') IT
              line#audio_line_left_1(x1='146', y1='-130', x2='146', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#audio_line_left_2(x1='152', y1='-130', x2='152', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#audio_line_left_3(x1='158', y1='-130', x2='158', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#audio_line_left_4(x1='164', y1='-130', x2='164', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#audio_line_left_5(x1='170', y1='-130', x2='170', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#audio_line_right_1(x1='230', y1='-130', x2='230', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#audio_line_right_2(x1='236', y1='-130', x2='236', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#audio_line_right_3(x1='242', y1='-130', x2='242', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#audio_line_right_4(x1='248', y1='-130', x2='248', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#audio_line_right_5(x1='254', y1='-130', x2='254', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#record_line_left_1(x1='2', y1='-130', x2='2', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#record_line_left_2(x1='8', y1='-130', x2='8', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#record_line_left_3(x1='14', y1='-130', x2='14', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#record_line_left_4(x1='20', y1='-130', x2='20', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#record_line_left_5(x1='26', y1='-130', x2='26', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#record_line_right_1(x1='370', y1='-130', x2='370', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#record_line_right_2(x1='376', y1='-130', x2='376', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#record_line_right_3(x1='382', y1='-130', x2='382', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#record_line_right_4(x1='388', y1='-130', x2='388', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              line#record_line_right_5(x1='394', y1='-130', x2='394', y2='-130', opacity='0', stroke='#00285F', stroke-width='4', stroke-linecap='round')
              circle#pma_app_drop(cx='203', cy='-130', r='0', fill='#fff', stroke-width='3', stroke='#00285F')
              circle#pma_drop(cx='203', cy='-130', r='0', fill='#00a9df', stroke-width='3', stroke='#fff')
              circle#pma_announce_traffic(cx='203', cy='-40', r='10', fill='#7b0663', opacity='0', stroke-width='3', stroke='#fff')
              circle#pma_record_traffic(cx='203', cy='-130', r='10', fill='#e32119', opacity='0', stroke-width='3', stroke='#fff')
              line#connect_line(x1='0', y1='-130', x2='0', y2='-130', opacity='0', stroke='#00285F', stroke-width='8')
              line#trans_vert_line(x1='200', y1='-130', x2='200', y2='-130', opacity='0', stroke='#fff', stroke-width='4')
              line#trans_horiz_line(x1='180', y1='-130', x2='180', y2='-130', opacity='0', stroke='#fff', stroke-width='4')
              foreignobject#translate_area_left(x='0', y='-70', width='50%', height='250', opacity='0')
                body(xmlns='http://www.w3.org/1999/xhtml')
                  .trans_left_box
                    #english_left.trans_before_text_top_left
                      p#tl_lang(align='center')
                    #trans_tl.trans_text(style='background-color:#e1e2e3; height:0px; width:0%; border: 2px solid #fff; font-size: 70%; color:#87888a; padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 20px; margin-top: 21px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; z-index: -1;')
                    #spanish_left.trans_before_text_bottom_left
                      p#bl_lang(align='center')
                    #trans_bl.trans_text(style='background-color:#89ba17; height:0px; width:0%; border: 2px solid #fff; font-size: 70%; color:#ffffff; padding: 10px;  margin-top: 0px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; z-index: -1;')
              foreignobject#translate_area_right(x='200', y='-70', width='50%', height='250', opacity='0')
                body(xmlns='http://www.w3.org/1999/xhtml')
                  .trans_right_box
                    #spanish_right.trans_before_text_top_right
                      p#tr_lang(align='center')
                    #trans_tr.trans_text(style='background-color:#e1e2e3; height:0px; width:0%; border: 2px solid #fff; font-size: 70%; color:#87888a; padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 20px; margin-top: 21px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; z-index: -1')
                    #english_right.trans_before_text_bottom_right
                      p#br_lang(align='center')
                    #trans_br.trans_text(style='background-color:#00a9d4; height:0px; width:0%; border: 2px solid #fff; font-size: 70%; color:#ffffff; padding: 10px;  margin-top: 0px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px;')
              line#pma_left_line(x1='178', y1='-25', x2='178', y2='-25', opacity='0', stroke='#00a9d4', stroke-width='5', stroke-linecap='round', stroke-dasharray='10, 13')
              line#pma_right_line(x1='210', y1='-25', x2='210', y2='-25', opacity='1', stroke='#00a9d4', stroke-width='5')
              image#folder_pma(x='160', y='-75', width='90', height='90', opacity='0', xlink:href='/images/folder_pma_nologo.svg')
              image#envelope(x='180', y='-150', width='35', height='35', opacity='0', xlink:href='/images/envelope.svg')
              image#pma_app_play(x='170', y='-160', width='60', height='60', opacity='0', xlink:href='/images/pma_app_play.svg')
              image#pma_app_announce(x='170', y='-160', width='60', height='60', opacity='0', xlink:href='/images/pma_app_announce.svg')
              image#pma_app_record(x='170', y='-160', width='60', height='60', opacity='0', xlink:href='/images/pma_app_record.svg')
              image#pma_app_share(x='170', y='-160', width='60', height='60', opacity='0', xlink:href='/images/pma_app_share.svg')
              image#trans_app(x='170', y='-160', width='60', height='60', opacity='0', xlink:href='/images/trans_app.svg')
        #userb_area.col-xs-2.nopadding
          .row(style='height:80px')
          .row
            svg#userb_svg(width='100%', height='200', viewbox='0 0 100 50', preserveaspectratio='xMidYMid slice', xmlns='http://www.w3.org/2000/svg')
              image#user2(width='100', height='50', opacity='0', xlink:href='/images/user2.png')
          .row
            svg#tablet_svg(width='100%', height='200', viewbox='0 0 100 50', preserveaspectratio='xMidYMid slice', xmlns='http://www.w3.org/2000/svg')
              image#pma_tablet(x='25', y='0', width='50', height='50', opacity='0', xlink:href='/images/tablet_pma_nologo.svg')
              circle#circle_share(cx='34', cy='32', r='0', fill='#00a9d4', stroke-width='0')
              circle#circle_announce(cx='43', cy='32', r='0', fill='#7b0663', stroke-width='0')
              circle#circle_record(cx='52', cy='32', r='0', fill='#e32119', stroke-width='0')
              circle#circle_play(cx='61', cy='32', r='0', fill='#7b0663', stroke-width='0')
      .row(style='height:30px')
