doctype html
html
  head
    title Incall Visualization
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    != body

    script(type='text/javascript').
      var source = new EventSource('/update-stream');

      source.addEventListener('message', function(e) {
        console.log(e);
        
        $('ul').append('<li>' + e.data + ' (message id: ' + e.lastEventId + ')</li>');
        
        if((e.data).indexOf("incoming") > -1){
          translate_connecting();
        } else if((e.data).indexOf("connected") > -1){
          converge();
          connected();
        } else if((e.data).indexOf("share") > -1){
          send_sms();
        } else if((e.data).indexOf("disc") > -1){
          disconnected();
        }
      
      }, false);
