doctype html
html
  head
    title Incall Visualization
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    != body

    script(type='text/javascript').
      var source = new EventSource('/update-stream');

      source.addEventListener('message', function(e) {
        console.log(e);
        
        $('ul').append('<li>' + e.data + ' (message id: ' + e.lastEventId + ')</li>');

        if((e.data).indexOf("pma_trigger_connecting") > -1){
          pma_trigger_connecting();
        } else if((e.data).indexOf("pma_trigger_connected") > -1){
          pma_trigger_connected();
        } else if((e.data).indexOf("url") > -1){
          var urllink = e.data;
		  pma_cloud_share(urllink);
        } else if((e.data).indexOf("pma_trigger_announce") > -1){
          pma_trigger_announce();
		} else if((e.data).indexOf("pma_trigger_stop_announce") > -1){
          pma_trigger_stop_announce();
        } else if((e.data).indexOf("pma_trigger_record") > -1){
          pma_trigger_record();
		} else if((e.data).indexOf("pma_trigger_stop_record") > -1){
          pma_trigger_stop_record();
        } else if((e.data).indexOf("pma_trigger_play") > -1){
          pma_trigger_play();
		} else if((e.data).indexOf("pma_trigger_stop_play") > -1){
          pma_trigger_stop_play(); 
		  
        } else if((e.data).indexOf("translate_connecting") > -1){
          translator_connecting();
        } else if((e.data).indexOf("translate_connected") > -1){
          translator_connected();
        } else if((e.data).indexOf("enter_text_tl") > -1){
           var text = e.data;
           enter_text_tl(text.slice(15, -2));
        } else if((e.data).indexOf("enter_text_bl") > -1){
           var text = e.data;
           enter_text_bl(text.slice(15, -2));
        } else if((e.data).indexOf("enter_text_tr") > -1){
           var text = e.data;
           enter_text_tr(text.slice(15, -2));
        } else if((e.data).indexOf("enter_text_br") > -1){
          var text = e.data; 
          enter_text_br(text.slice(15, -2));
        }
      
      }, false);
