doctype html
html
  head
    title InCall Visualization
  body
    != body

    script(type='text/javascript').
      var source = new EventSource('/update-stream');

      source.addEventListener('message', function(e) {
        console.log(e);
        
        $('ul').append('<li>' + e.data + ' (message id: ' + e.lastEventId + ')</li>');

        if((e.data).indexOf("pma_trigger_connecting") > -1){
          pma_trigger_connecting();
        } else if((e.data).indexOf("pma_trigger_connected") > -1){
          pma_trigger_connected();
        } else if((e.data).indexOf("url") > -1){
          var urllink = e.data;
          pma_cloud_share(urllink);
        } else if((e.data).indexOf("pma_trigger_announce") > -1){
          pma_trigger_announce();
        } else if((e.data).indexOf("pma_trigger_stop_announce") > -1){
          pma_trigger_stop_announce();
        } else if((e.data).indexOf("pma_trigger_record") > -1){
          pma_trigger_record();
        } else if((e.data).indexOf("pma_trigger_stop_record") > -1){
          pma_trigger_stop_record();
        } else if((e.data).indexOf("pma_trigger_play") > -1){
          pma_trigger_play();
        } else if((e.data).indexOf("pma_trigger_stop_play") > -1){
          pma_trigger_stop_play(); 
        } else if((e.data).indexOf("pma_trigger_disconnected") > -1){
          pma_trigger_disconnect(); 
        }
        
        else if((e.data).indexOf("translate_connecting") > -1){
          translator_connecting();
        } else if((e.data).indexOf("translate_connected") > -1){
          translator_connected();
        } else if((e.data).indexOf("left_press_1") > -1){
           left_press_1();
        } else if((e.data).indexOf("left_press_9") > -1){
           var text = e.data;
           var sliced_text = text.slice(14, -2);
           var split_text = sliced_text.split(",");
           left_press_9(split_text[0], split_text[1]);
           
        } else if((e.data).indexOf("right_press_2") > -1){
          right_press_2();
        } else if((e.data).indexOf("right_press_9") > -1){
          var text = e.data;
          var sliced_text = text.slice(15, -2);
          var split_text = sliced_text.split(",");
          right_press_9(split_text[0], split_text[1]);
        } else if((e.data).indexOf("translate_disconnected") > -1){
          translator_trigger_disconnect(); 
        }

      
      }, false);
