doctype html
html
  head
    title Incall Visualization
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    != body

    script(type='text/javascript').
      var source = new EventSource('/update-stream');

      source.addEventListener('message', function(e) {
        console.log(e);
        
        $('ul').append('<li>' + e.data + ' (message id: ' + e.lastEventId + ')</li>');

        if((e.data).indexOf("pma_connecting") > -1){
          pma_connecting();
        } else if((e.data).indexOf("telco_cloud_appear") > -1){
          telco_cloud_appear();
        } else if((e.data).indexOf("it_cloud_appear") > -1){
          it_cloud_appear();
        } else if((e.data).indexOf("converge") > -1){
          converge();
        } else if((e.data).indexOf("pma_push") > -1){
          pma_push();
        } else if((e.data).indexOf("pma_connected") > -1){
          pma_connected();
        } else if((e.data).indexOf("pma_share") > -1){
          pma_share();
        } else if((e.data).indexOf("pma_announce") > -1){
          pma_announce();
        } else if((e.data).indexOf("pma_record") > -1){
          pma_record();
        } else if((e.data).indexOf("pma_play") > -1){
          pma_play();
        } else if((e.data).indexOf("translate_connecting") > -1){
          translate_connecting();
        } else if((e.data).indexOf("trans_connected") > -1){
          trans_connected();
        } else if((e.data).indexOf("translate_app") > -1){
          translate_app();
        } else if((e.data).indexOf("enter_text_tl") > -1){
           var text = e.data;
           enter_text_tl(text.slice(15, -2));
        } else if((e.data).indexOf("enter_text_bl") > -1){
           var text = e.data;
           enter_text_bl(text.slice(15, -2));
        } else if((e.data).indexOf("enter_text_tr") > -1){
           var text = e.data;
           enter_text_tr(text.slice(15, -2));
        } else if((e.data).indexOf("enter_text_br") > -1){
          var text = e.data; 
          enter_text_br(text.slice(15, -2));
        }
      
      }, false);
