doctype html
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/messages.js')
    script(src='javascripts/translate.js')
    title Translation
  body
    #imageArea
      div
        button(onclick='translate_left()') Left
        button(onclick='translate_right()') Right
    #connection
      img#connection_image
    #imageArea2
    #messageArea
